<h1>Hi!</h1>
<a href="#/newQuestion">Add a Question</a>
<br>
<p>
    Search: <input type="text" name="search">
</p>
<table>
    <thead>
        <tr>
            <th style="padding-right: 30px;">Question</th>
            <th style="padding-right: 30px;">Answers</th>
            <th style="padding-right: 30px;">Action</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in questions'>
        <td>{{ x.text }}</td>
        <td>{{ x.answers}}</td>
        <td><a href="#/question/{{ x._id }}">Show</a> <a href="#question/{{ x._id }}/newAnswer">Answer</a></td>
      </tr>
    </tbody>
</table>
