<h1>Hi, {{user}}</h1>
<a href="#/" ng-click='logout()'>Logout</a><br>
<a href="#/newQuestion">Add a Question</a>
<br>
<p>
    Search: <input type="text" name="search" ng-model='filterData'>
</p>
<table>
    <thead>
        <tr>
            <th style="padding-right: 30px;">Question</th>
            <th style="padding-right: 30px;">Answers</th>
            <th style="padding-right: 30px;">Action</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat='x in questions | filter: filterData'>
        <td>{{ x.text }}</td>
        <td>{{ x.answers.length}}</td>
        <td><a href="#/question/{{ x._id }}">Show</a> <a href="#/question/{{ x._id }}/newanswer">Answer</a></td>
      </tr>
    </tbody>
</table>
