<div >

    <a href="#/main">Home</a> | <a href="#/question/{{ questions._id }}">Go back to Question</a><br>
    <a href="#/">Logout</a>

    <!-- <h1 ng-repeat='x in questions'>{{ x.text }}</h1>
    <h5>{{ x.description }}</h5> -->
    <form ng-submit='createAnswer()'>
        <p>
            Your Answer: <input type="text" name="answer" ng-model='newAnswer.answer'>
        </p>
        <p>
            Supporting details for your answer(optional): <input type="text" name="details" ng-model='newAnswer.details'>
        </p>
        <input type="button" name="cancel" value="Cancel" ng-click='cancel()'>
        <input type="submit" name="submit" value="Submit">
    </form>
